APP_ENV=dev # Can either be dev or prod
APP_SECRET= # App Secret

DB_HOST=localhost 
DB_NAME=
DB_USERNAME=
DB_PASSWORD=

S3_ENDPOINT=http://127.0.0.1:9000 # S3 Endpoint
S3_API_KEY= # S3 Access Key
S3_API_SECRET= # S3 Access Key Secret

SENTRY_DSN= # Sentry DSN, Including password/key

