<h3>Request to reset your password</h3>

Hi there,

It appears that someone has requested that you reset your password, if this was not you, please disregard this email.

In order to reset your password, please go to: <a href="https://dash.ratelimited.me/reset_password/{{ reset_id }}">https://dash.ratelimited.me/reset_password/{{ reset_id }}</a>.

Thanks!